# Angular specific
/dist/
/out-tsc/
/tmp/
/coverage/
/e2e/test-output/
/.angular/
.angular/

# Node modules and dependency files
/node_modules/
/package-lock.json
/yarn.lock

# Environment files
/.env

# Angular CLI and build artefacts
/.angular-cli.json
/.ng/

# TypeScript cache
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.vs/backend/v17
/.vs/VSWorkspaceState.json
/Application/RealStateSearchPortal.Application/bin/Debug/net8.0
/Application/RealStateSearchPortal.Application/obj
/Domain/RealStateSearchPortal.Domain/bin/Debug/net8.0
/Domain/RealStateSearchPortal.Domain/obj
/Infrastructure/RealStateSearchPortal.Infrastructure/bin/Debug/net8.0
/Infrastructure/RealStateSearchPortal.Infrastructure/obj/Debug/net8.0
/Infrastructure/RealStateSearchPortal.Infrastructure/obj
/RealStateSearchPortal/.config
*.bin
/RealStateSearchPortal/.vs/RealStateSearchPortal/DesignTimeBuild/.dtbcache.v2
/RealStateSearchPortal/.vs/RealStateSearchPortal/FileContentIndex
/RealStateSearchPortal/.vs/RealStateSearchPortal/v17
/RealStateSearchPortal/bin/Debug/net8.0
/RealStateSearchPortal/obj
/RealStateSearchPortal/.vs/RealStateSearchPortal/config
